// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

h1,h2,h3,h4,h5 {
    font-family: 'Roboto Slab';
}
p {
    font-family: 'Roboto';
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-item {
    margin-left: 45px;
    .nav-link {
        color: $black-color;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        position: relative;
        img {
            position: relative;
            bottom: 10px;
        }
    }
}


.hero-home {
    padding-top: 120px;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    &_title {
        background: $yello-color;
        display: inline-block;
        color: $white-color;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: 'Roboto Slab';
        margin-bottom: 25px;
    }
    &_excerpt {
        background: $yello-color;
        color: $white-color;
        font-family: 'Roboto';
        font-size: 28px;
        max-width: 700px;
        margin: 0 auto;
    }
    &_btn {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 19px;
        border-bottom: 2px solid #1661a4;
    }
}

section {
    h2 {
        font-family: 'Roboto Slab';
        font-size: 35px;
        margin-bottom: 30px;
    }
    p {
        font-family: 'Roboto';
        font-style: 18px;
    }
}
.section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.course-section {
    padding-top: 55px;
    padding-bottom: 60px;
    &_row {
        margin-top: 40px;
    }
    &_col {
        padding: 0px;
    }
    .card {
        border: none;
        border-radius: 0px;
        .card-img, .card-img-top {
            border-radius: 0px;
        }
    }
    .card-body {
        background: #1661a4;
        color: #fff;
        position: absolute;
        width: 100%;
        bottom: 0px;
        opacity: 0.902;
    }
}
.section-should {
    background-repeat: no-repeat;
    background-color: #efefef;
    background-position: left;
}
.section-howdoes {
    background-repeat: no-repeat;
    background-position: right;
}

.section-services {
    background: #f7b900;
    img {
        margin-bottom: 25px;
    }
    h4 {
        font-size: 26px;
        font-weight: bold;
    }
    p {
        font-size: 18px;
    }
}

.section-testiomonial {
    background: #efefef;
    padding-top: 90px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-position: bottom right;
    .swiper-container {
        background: #fff;
        background-repeat: no-repeat;
        background-position: top left;
        opacity: 0.902;
        .card {
            border: none;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 30%;
            margin: 0 auto;
            align-items: center;
        }
    }
    .swiper-wrapper  {
        padding-top: 115px;
        padding-bottom: 40px;
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;

            p {
                max-width: 735px;
                margin: 0 auto;
            }
        }
    } 
}
