// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";
 
.btn-primary {
    background-color: #0094de;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 2px solid #1661a4;
    text-decoration: none;
}
a {
    color: #0094de;
        text-decoration: underline;
        font-size: 15px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Roboto Slab';
}
p {
    font-family: 'Roboto';
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-item {
    margin-left: 45px;
    .nav-link {
        color: $black-color;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        position: relative;
        img {
            position: relative;
            bottom: 10px;
        }
    }
}


.hero-home {
    padding-top: 120px;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    &_title {
        background: $yello-color;
        display: inline-block;
        color: $white-color;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: 'Roboto Slab';
        margin-bottom: 25px;
    }
    &_excerpt {
        background: $yello-color;
        color: $white-color;
        font-family: 'Roboto';
        font-size: 28px;
        max-width: 700px;
        margin: 0 auto;
    }
    &_btn {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 19px;
        border-bottom: 2px solid #1661a4;
    }
}

section {
    h2 {
        font-family: 'Roboto Slab';
        font-size: 35px;
        margin-bottom: 30px;
    }
    p {
        font-family: 'Roboto';
        font-style: 18px;
    }
}
.section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.course-section {
    padding-top: 55px;
    padding-bottom: 60px;
    &_row {
        margin-top: 40px;
    }
    &_col {
        padding: 0px;
    }
    .card {
        border: none;
        border-radius: 0px;
        .card-img, .card-img-top {
            border-radius: 0px;
        }
    }
    .card-body {
        background: #1661a4;
        color: #fff;
        position: absolute;
        width: 100%;
        bottom: 0px;
        opacity: 0.902;
        &:hover {
            background: #032a4d;
        }
    }
    .card-link {
        text-decoration: none;
        font-size: 18px;
        font-family: 'Roboto';
        &:after {
            content: "\f054"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            position: absolute;
            margin-left: -1.3em; /* same as padding-left set on li */
            width: 1.3em; /* same as padding-left set on li */
            font-size: 18px;
            right: 25px ;
            top: 40%;
        }
        .card-text {
            color: #4cc3ff;
        }
    }
}



.section-services {
    background: linear-gradient(180deg, rgba(255,222,0,1) 0%, rgba(245,175,0,1) 100%);
    img {
        margin-bottom: 25px;
    }
    h4 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        a {
            font-size: 18px;
        }
    }
    ol {
        li {
            font-size: 18px;
            a {
                text-decoration: underline;
                color: #1661a4;
            }
        }
    }
}

.section-testiomonial {
    background: #efefef;
    padding-top: 90px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-position: bottom right;
    .testimonial-text {
        position: relative;
        margin-bottom: 30px !important;
        &::before {
            content: "\f10d"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            margin: auto;
            position: absolute;
            top: -70px; left: 0; bottom: 0; right: 0;
            font-size: 40px;
            color: #e0dddd;
        }
    }
    .swiper-container {
        background: #fff;
        background-repeat: no-repeat;
        background-position: top left;
        opacity: 0.902;
       
        .card {
            border: none;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 30%;
            margin: 0 auto;
            align-items: center;
        }
    }
    .swiper-wrapper  {
        padding-top: 115px;
        padding-bottom: 40px;
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;

            p {
                max-width: 735px;
                margin: 0 auto;
            }
        }
    } 
}

.section-latest-news {
    padding-bottom: 50px;
    padding-top: 70px;
    h3 {
        font-size: 35px;
        margin-bottom: 30px;
        color: #212323;
    }
    .card {
        border: none;
        .card-block {
            padding-left: 20px;
            .card-title {
                font-size: 24px;
                font-weight: bold;
                color: #212323;
            }
            .card-text {
                font-size: 18px;
                color: #253233;
            }
            a {
                color: #0094de;
                text-decoration: underline;
                font-size: 18px;
            }
        }
    }
}
.section {
    .d-flex {
        align-items: center;
        vertical-align: center;
        display: flex;
        a {
            margin-right: 15px;
        }
    }
    p,ul li,a {
        font-size: 18px;
    }
   
    &_title {
        background: $yello-color;
        display: inline-block;
        color: $white-color;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: 'Roboto Slab';
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: bold;
        opacity: 0.902;
    }
    &_button {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 19px;
        border-bottom: 2px solid #1661a4;
        margin-bottom: 15px;
    }
}
.section-bg {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap:wrap;
    a{
        color: #fff;
        text-align: center;
        
    }
    .text-money-back {
        margin-left: 70px;
        text-decoration: underline;
    }
}

.section-logo {
    background: #efefef;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}


.section-did-you-know {
    padding-top: 90px;
    padding-bottom: 85px;
    h4 {
        font-weight: bold;
        font-size: 26px;
    }
    h5 {
        font-size: 18px;
        font-weight: bold;
    }
    .quote-text 
    {
        i {
            font-size: 35px;
            font-weight: lighter;
        }
        small {
            font-size: 14px;
        }
    }
    p {
        font-size: 18px;
    }
    
    .btn-outline {
        background: none;
        color: #0094de;
        border: 1px solid #0094de;
    }
}
.section-howdoes {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    p {
        font-size: 18px;
    }
    ol {
        counter-reset: my-awesome-counter;
        list-style: none;
        padding-left: 50px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      ol li {
        margin: 0 0 0.5rem 0;
        counter-increment: my-awesome-counter;
        position: relative;
        margin-bottom: 30px;
        font-size: 18px;
      }
      ol li::before {
        content: counter(my-awesome-counter);
        color: #fcd000;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        --size: 30px;
        left: calc(-1 * var(--size) - 20px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        line-height: var(--size);
        color: #fff;
        background:#f5af00;
        border-radius: 50%;
        text-align: center;
        z-index: 9;
       
      }
      ol li::after{
        content: '';
        position: absolute;
        --size: 40px;
        left: calc(-1 * var(--size) - 15px);
        line-height: var(--size);
        width: var(--size);
        height: var(--size);
        top: -5px;
        line-height: var(--size);
        background:#fff;
        border-radius: 50%;
        text-align: center;
        box-shadow: 2px 2px 2px 2px #ddd;
    
      }
}

.section-should {
    background-repeat: no-repeat;
    background-color: #efefef;
    background-position: left bottom;
    ul {
        padding: 0px;
        list-style: none;
        padding-left: 30px;
        li {
            &:before {
                content: "\f00c"; /* FontAwesome Unicode */
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -1.3em; /* same as padding-left set on li */
                width: 1.3em; /* same as padding-left set on li */
                color: #f5af00;
                font-size: 28px;
            }
        }
    }
}

.footer {
    background: #404040;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 35px;
    p,ul li {
        font-size: 15px;
    }
    ul {
        padding: 0px;
        padding-left: 15px;
    }
    a {
        color: #0094de;
            text-decoration: underline;
            font-size: 15px;
    }
    .list-menu {
        list-style: none;
        li {
            color: #0094de;
            text-decoration: underline;
        }
        li:before {
            content: "\f054"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em; /* same as padding-left set on li */
            width: 1.3em; /* same as padding-left set on li */
            font-size: 8px;
          }
    }
    h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .footer-center {
        border-top: 1px solid  #666666;
        border-bottom: 1px solid #666666;
        padding-top: 55px;
        margin-top: 55px;
        padding-bottom: 55px;
        
        
    }
    .footer-bottom {
        padding-top: 22px;
        .copyright {
            color: #666666;
            font-size: 12px;
        }
    }
}