// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-item {
    margin-left: 45px;
    .nav-link {
        color: $black-color;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        position: relative;
        img {
            position: relative;
            bottom: 10px;
        }
    }
}
.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.hero-home {
    padding-top: 120px;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    &_title {
        background: $yello-color;
        display: inline-block;
        color: $white-color;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-family: 'Roboto Slab';
        margin-bottom: 25px;
    }
    &_excerpt {
        background: $yello-color;
        color: $white-color;
        font-family: 'Roboto';
        font-size: 28px;
        max-width: 700px;
        margin: 0 auto;
    }
    &_btn {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 28px;
        padding-bottom: 28px;
        margin-top: 15px;
    }
}

